.wrapper{
    padding: 2em;
    border: 1px solid --text;
    border-radius: 1em;
    box-shadow: 5px 10px #ddd;
    width: 20%;
    margin: 5% auto ;
    display: flex;
    flex-direction: column;
    
}